.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}
main {
    overflow-y:auto;
}
footer {
    background-size: 100%;
    background-position: top;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#employee-list md-virtual-repeat-container {
    height: 100%;
    width: 100%;
}

.md-virtual-repeat-container .md-virtual-repeat-scroller {
    height: calc(100vh - 120px);
    position: inherit !important;
}
@media only screen and (min-width: 600px){
    .flex-gt-xs-50, .layout-row > .flex-gt-xs-50 {
        max-width: 100% !important;
    }
}
.md-card.md-default-theme, md-card {
    border-radius: 12px !important;
    /*margin: 10px;*/
}
.wrap {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
