<div layout="row">
    <div flex="33" style="border-right:solid 1px">
        <div layout="column" layout-padding id="employee-list">
            <md-content class="md-padding" layout-xs="column" layout="column">
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                    <md-optgroup label="items">
                        <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
                    </md-optgroup>
                </md-select>
                <md-virtual-repeat-container>
                    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in $ctrl.productslist" class="list-group-item">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">
                                        {{ item.productsname }}
                                    </span>
                                </md-card-title-text>

                            </md-card-title>
                            <!--<md-card-content>
                                <span class="md-subhead">
                                    {{ item.testinomialsdetails }}
                                </span>
                            </md-card-content>-->
                        </md-card>

                    </div>
                </md-virtual-repeat-container>

            </md-content>
        </div>
    </div>
    <div flex="66">
        <div id="testinomialdescription" style="margin: 0 10px 0 25px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
            </p>
        </div>
    </div>
</div>
